/* ---------- General ---------- */

.h-screen {
    height: 100vh;
}

.bg-primary-page {
    background-color: #00a78c;
}

.text-16px {
    font-size: 16px !important;
}

.bg-gradient {
    background: #42b883;
    /* fallback for old browsers */
    background: -webkit-linear-gradient( to left, #42b883, #347474);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to left, #42b883, #347474);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}